*, *::before, *::after{
margin:0;
padding:0;
box-sizing: border-box;
}
body {
height:100vh;
line-height:1.5;
background-color:hsl($bkg) ;
}
h1 {
  font-size:calc($fs-600);
  line-height: 1.3;
}
h2{
 font-size: $fs-500;
}
h3{
 font-size: $fs-400;
}
img{
width:100%;
}