.home{
overflow-x: hidden;
display: grid;
grid-template-columns:1fr;
grid-template-rows: 20% 1fr 1fr;
place-items: center;
border:3px solid blue;
& > footer{
align-self: flex-end;
position: relative;   
width:100%;
aspect-ratio: 5;
& > .siling-boat-img{
position: absolute;
top:70%;
left:30%;
width:5%;
z-index:1;
offset-path: path("M 59 3 Q 132 -43 213 -1 Q 284 20 360 -12 T 510 -5");
//animation: silingBoat 30s infinite alternate  ease-in-out;
& > span{
position: absolute;
width:200%;
height:150%;
top:-100%;
left:100%;
font:bold 1.2rem/1.5 "Poppins",serif;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
border-radius:50%;
border-bottom-left-radius:5%;
 box-shadow:0rem 0rem  0 0.1rem $greyLight-2;
}
&::after{
  position: absolute;
  width:200%;
  height:150%;
  top:-100%;
  left:100%;
 border-radius:50%;
border-bottom-left-radius:5%;
z-index:1;
content:"";
 box-shadow:0.2rem 0.2rem  0.6rem $greyLight-2,
 -.2rem -.2rem .5rem $greyLight-1;
 ;
//animation: shadowAnimation 6s infinite 2s linear;
}
&:before{
  position: absolute;
  width:200%;
  height:150%;
  top:-100%;
  left:100%;
 border-radius:50%;
border-bottom-left-radius:5%;
z-index:1;
content:"";
box-shadow:0.2rem 0.2rem 0.6rem $greyLight-2,
-.2rem -.2rem .5rem $greyLight-1;
;
//animation: shadowAnimation 8s infinite  linear;
}
}
& > svg{
position: absolute;
top:0;
left:0;
 border:10px solid green;
@for $i from 1 through 3{
//  & path:nth-child(#{$i}){
//   animation: path-top-#{$i} 3s linear infinite alternate-reverse;
//  }
}
}
}
}
//Animation
@keyframes silingBoat {
  0%{
    offset-distance:0%;
  }
  100% {
   offset-distance:100%;
  }
}
@keyframes shadowAnimation{
0%{
transform: scale(1);
opacity:1;
}
50%{
opacity:1;
}
100%{
transform: scale(2);
opacity:0;
}
}
@keyframes path-top-1{
0%{
d:path(
"M0 319L59.5 322.3C119 325.7 238 332.3 357 331.2C476 330 595 321 714 326.5C833 332 952 352 1071.2 349.2C1190.3 346.3 1309.7 320.7 1428.8 311C1548 301.3 1667 307.7 1786 320.3C1905 333 2024 352 2143 361C2262 370 2381 369 2440.5 368.5L2500 368L2500 501L2440.5 501C2381 501 2262 501 2143 501C2024 501 1905 501 1786 501C1667 501 1548 501 1428.8 501C1309.7 501 1190.3 501 1071.2 501C952 501 833 501 714 501C595 501 476 501 357 501C238 501 119 501 59.5 501L0 501Z"
);
}
50%{
d:path(
"M0 354L59.5 344C119 334 238 314 357 309C476 304 595 314 714 314.7C833 315.3 952 306.7 1071.2 313.7C1190.3 320.7 1309.7 343.3 1428.8 353.2C1548 363 1667 360 1786 361C1905 362 2024 367 2143 367C2262 367 2381 362 2440.5 359.5L2500 357L2500 501L2440.5 501C2381 501 2262 501 2143 501C2024 501 1905 501 1786 501C1667 501 1548 501 1428.8 501C1309.7 501 1190.3 501 1071.2 501C952 501 833 501 714 501C595 501 476 501 357 501C238 501 119 501 59.5 501L0 501Z"
)
}
100%{
d:path(
"M0 328L59.5 326C119 324 238 320 357 323.7C476 327.3 595 338.7 714 341.7C833 344.7 952 339.3 1071.2 341.2C1190.3 343 1309.7 352 1428.8 355.3C1548 358.7 1667 356.3 1786 350.3C1905 344.3 2024 334.7 2143 334.3C2262 334 2381 343 2440.5 347.5L2500 352L2500 501L2440.5 501C2381 501 2262 501 2143 501C2024 501 1905 501 1786 501C1667 501 1548 501 1428.8 501C1309.7 501 1190.3 501 1071.2 501C952 501 833 501 714 501C595 501 476 501 357 501C238 501 119 501 59.5 501L0 501Z"
)
}
}
@keyframes path-top-2{
0%{
d:path(
"M0 351L59.5 354.8C119 358.7 238 366.3 357 374.2C476 382 595 390 714 386.3C833 382.7 952 367.3 1071.2 361.8C1190.3 356.3 1309.7 360.7 1428.8 358.3C1548 356 1667 347 1786 349.2C1905 351.3 2024 364.7 2143 373.8C2262 383 2381 388 2440.5 390.5L2500 393L2500 501L2440.5 501C2381 501 2262 501 2143 501C2024 501 1905 501 1786 501C1667 501 1548 501 1428.8 501C1309.7 501 1190.3 501 1071.2 501C952 501 833 501 714 501C595 501 476 501 357 501C238 501 119 501 59.5 501L0 501Z"
)
}
50%{
d:path(
"M0 381L59.5 373.2C119 365.3 238 349.7 357 340.8C476 332 595 330 714 335.3C833 340.7 952 353.3 1071.2 358C1190.3 362.7 1309.7 359.3 1428.8 360.7C1548 362 1667 368 1786 366.5C1905 365 2024 356 2143 349.8C2262 343.7 2381 340.3 2440.5 338.7L2500 337L2500 501L2440.5 501C2381 501 2262 501 2143 501C2024 501 1905 501 1786 501C1667 501 1548 501 1428.8 501C1309.7 501 1190.3 501 1071.2 501C952 501 833 501 714 501C595 501 476 501 357 501C238 501 119 501 59.5 501L0 501Z"
)
}
100%{
d:path(
"M0 386L59.5 383.5C119 381 238 376 357 375.7C476 375.3 595 379.7 714 380.3C833 381 952 378 1071.2 375C1190.3 372 1309.7 369 1428.8 364.3C1548 359.7 1667 353.3 1786 349.2C1905 345 2024 343 2143 343.3C2262 343.7 2381 346.3 2440.5 347.7L2500 349L2500 501L2440.5 501C2381 501 2262 501 2143 501C2024 501 1905 501 1786 501C1667 501 1548 501 1428.8 501C1309.7 501 1190.3 501 1071.2 501C952 501 833 501 714 501C595 501 476 501 357 501C238 501 119 501 59.5 501L0 501Z"
)
}
}
@keyframes path-top-3{
0%{
d:path(
"M0 394L59.5 395.8C119 397.7 238 401.3 357 401.7C476 402 595 399 714 398.2C833 397.3 952 398.7 1071.2 395C1190.3 391.3 1309.7 382.7 1428.8 378.5C1548 374.3 1667 374.7 1786 376.2C1905 377.7 2024 380.3 2143 384.8C2262 389.3 2381 395.7 2440.5 398.8L2500 402L2500 501L2440.5 501C2381 501 2262 501 2143 501C2024 501 1905 501 1786 501C1667 501 1548 501 1428.8 501C1309.7 501 1190.3 501 1071.2 501C952 501 833 501 714 501C595 501 476 501 357 501C238 501 119 501 59.5 501L0 501Z"
)
}
50%{
d:path(
"M0 368L59.5 372.3C119 376.7 238 385.3 357 391.3C476 397.3 595 400.7 714 397.5C833 394.3 952 384.7 1071.2 379.8C1190.3 375 1309.7 375 1428.8 379.8C1548 384.7 1667 394.3 1786 392.8C1905 391.3 2024 378.7 2143 374.7C2262 370.7 2381 375.3 2440.5 377.7L2500 380L2500 501L2440.5 501C2381 501 2262 501 2143 501C2024 501 1905 501 1786 501C1667 501 1548 501 1428.8 501C1309.7 501 1190.3 501 1071.2 501C952 501 833 501 714 501C595 501 476 501 357 501C238 501 119 501 59.5 501L0 501Z"
)
}
100%{
d:path(
"M0 396L59.5 396.8C119 397.7 238 399.3 357 400.3C476 401.3 595 401.7 714 397.3C833 393 952 384 1071.2 381.8C1190.3 379.7 1309.7 384.3 1428.8 390.2C1548 396 1667 403 1786 407.3C1905 411.7 2024 413.3 2143 414C2262 414.7 2381 414.3 2440.5 414.2L2500 414L2500 501L2440.5 501C2381 501 2262 501 2143 501C2024 501 1905 501 1786 501C1667 501 1548 501 1428.8 501C1309.7 501 1190.3 501 1071.2 501C952 501 833 501 714 501C595 501 476 501 357 501C238 501 119 501 59.5 501L0 501Z"
)
}
}