.main-navbar{
width:min(100%,60rem);
margin-inline:auto ;
padding:0 3rem;
display: flex;
justify-content:space-between;
background: #{hsl($hue, 10%,90%)};
box-shadow: 0 0 0 3rem #{hsl($hue, 10%,90%)};
border-radius:2%;
border: 2px solid green;
&__plate{
 width:10rem;
 aspect-ratio:1;
 border-radius:15%;
 display: grid;
place-items:center;   
 background: linear-gradient(
   90deg,
 #{hsl($hue, 10%, 45%)},
 #{hsl($hue, 10%, 65%)}
  );
   transform: rotateX(45deg) rotateZ(43deg);
  box-shadow:.15em 0.15em 0  #{hsl($hue, 10%,75%)},
0.45em 0.45em 0 #{hsl($hue, 30%,55%)},
1em 1em 0  #{hsl($hue, 30%,45%)},
1.2em 1.2em 0 #{hsl($hue, 20%,30%)},
1.6em 1.6em 0.6em 0em #{hsl($hue, 20%,30%)},
// 1.6em 1.6em 0em 3.2em #{hsl($hue, 10%,90%)}
;
//CLICK STYLE
& > div.clicked{
& span.span-background{
transform: translate3d(-0.25em,-0.25em,0em);
}  
&.square-shape span.span-background:after{   
box-shadow: 0em 0em 0.0em hsla(0,0%,0%,0.6),
        0.25em 0.25em 0.25em fade-out(map-get($colors,'cyan'),0.4);
}
&.circle-shape span.span-background:after{   
box-shadow: 0em 0em 0.0em hsla(0,0%,0%,0.6),
        0.25em 0.25em 0.25em fade-out(map-get($colors,'magenta'),0.4);
}
&.small-apps-shape span.span-background:after{   
box-shadow: 0em 0em 0.0em hsla(0,0%,0%,0.6),
        0.25em 0.25em 0.25em fade-out(map-get($colors,'pink'),0.4);
}
}
& > div{
width:70%;
height:70%; 
transition: all 0.15s linear;
transform-style: preserve-3d;
&>span.span-background{
display:inline-block;
width:100%;
aspect-ratio:1;
position: relative;
cursor: pointer;
transition: all 0.15s linear;
transform-style: preserve-3d;
transform: translate3d(-0.5em,-0.5em,0);
&:after{
position: absolute;
content: "";
inset: 0;
width:100%;
height: 100%;
transform: translate3d(0.3em,0.3em,-1px);
transition: box-shadow 0.15s linear;
border-radius: inherit;
transition: box-shadow 0.15s linear;
}
}
}
& > .square-shape > span.span-background{
border-radius:15%;
background: linear-gradient(90deg,map-get($colors,'cyan'),lighten(map-get($colors,'cyan'),15%));
&:after{
background: linear-gradient(90deg,map-get($colors,'cyan'),darken(map-get($colors,'cyan'),15%));
box-shadow: 0.25em 0.25em 0.0em hsla(0,0%,0%,0.4),
0.5em 0.5em 0.5em fade-out(map-get($colors,'cyan'),0.1);
}
}
& > .circle-shape > span.span-background{
border-radius: 50%;
background: linear-gradient(90deg,map-get($colors,'magenta'),lighten(map-get($colors,'magenta'),15%));
&:after{
background: linear-gradient(90deg,map-get($colors,'magenta'),darken(map-get($colors,'magenta'),15%));
box-shadow: 0.25em 0.25em 0.0em hsla(0,0%,0%,0.4),
        0.5em 0.5em 0.5em fade-out(map-get($colors,'magenta'),0.1);
}
}
& > .small-apps-shape > span.span-background{
border-radius:15%;
background: linear-gradient(90deg,map-get($colors,'pink'),lighten(map-get($colors,'pink'),15%));
&:after{
background: linear-gradient(90deg,map-get($colors,'pink'),darken(map-get($colors,'pink'),15%));
box-shadow: 0.25em 0.25em 0.0em hsla(0,0%,0%,0.4),
        0.5em 0.5em 0.5em fade-out(map-get($colors,'pink'),0.1);
}
}
& > div >span.span-background > p{
width: 100%;
height: 100%;
display:grid;
place-items:center;
text-align: center; 
transform: rotate(-45deg);
font:$fs-400/1.5 'Poppins';
}
}
}

@keyframes showBtn {
 0%{
 transform: translateZ(-100px);
 }
 50%{
  transform: translateZ(100px);
 }
 100%{
 transform: translateZ(0px);
 }
}